<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Google Sans', Roboto, arial, sans-serif;
            font-size: 3pt;
            color: #6d6d6d;
            margin: 0 40px;
        }

        p {
            margin: 0pt;
        }

        table.items {
            border: 0.1mm solid #e7e7e7;
        }

        td {
            vertical-align: top;
        }

        .items td {
            border-left: 0.1mm solid #e7e7e7;
            border-right: 0.1mm solid #e7e7e7;
        }

        table thead td {
            text-align: center;
            border: 0.1mm solid #e7e7e7;
        }

        .items td.blanktotal {
            background-color: #EEEEEE;
            border: 0.1mm solid #e7e7e7;
            background-color: #FFFFFF;
            border: 0mm none #e7e7e7;
            border-top: 0.1mm solid #e7e7e7;
            border-right: 0.1mm solid #e7e7e7;
        }

        .items td.totals {
            text-align: right;
            border: 0.1mm solid #e7e7e7;
        }

        .items td.cost {
            text-align: "."center;
        }
    </style>
</head>

<body>
    <table width="100%" style="font-family: 'Google Sans',Roboto, arial,sans-serif;margin-top:20px" cellpadding="10">
        <tr>
            <td width="100%"
                style="text-align: center; font-size: 15px;color:red;font-family: 'Google Sans',Roboto, arial,sans-serif; padding: 0px;">
                Sales Order
            </td>
        </tr>
        <tr>
            <td height="10" style="font-size: 0px; line-height: 5px; height: 5px; padding: 0px;">&nbsp;</td>
        </tr>
    </table>
    <table width="100%" style="font-family: 'Google Sans',Roboto, arial,sans-serif;" cellpadding="10">
        <tr>
            <td width="55%" style="border: 0.1mm solid #eee;font-size: 10px;">
                <%= customerData.firmName %><br>
                    <%= customerData.address %>, <%= customerData.city %>, <%= customerData.state %> -
                                <%= customerData.pinCode %><br>
                                    GSTIN : <%= customerData.gstNo %><br>
            </td>
            <td width="45%" style="border: 0.1mm solid #eee; text-align: right;">
                <img src="http://182.156.90.3:4200/assets/img/02.png" style="height: 40px;width:130px" />
            </td>
        </tr>
    </table>
    <table>
        <table width="80%" align="left">
            <tr>
                <td>&nbsp;</td>
            </tr>
        </table>
        <table width="20%" align="right">
            <tr>
                <td style="font-size:10px;float:right">Order Date:<%= Date.invoiceDate.toDateString()%>
                </td>
            </tr>
        </table>

    </table>
    <table width="100%" style="font-family: 'Google Sans',Roboto, arial,sans-serif; font-size: 10px;">
        <tr>
            <td>
                <table width="100%" align="left"
                    style="font-family: 'Google Sans',Roboto, arial,sans-serif; font-size: 8px;padding:0 !important;margin: 0 !important;">
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 4px; line-height: 12px;"><strong>Name & address
                                of
                                the Customer </strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 4px; line-height: 12px;">Sentini flopipes India
                            Pvt
                            Ltd<br>Sy No.290 to 305, IP Kothapalli Kowrugunta,<br>Kothapalli Kowrugunta
                            Village<br>Dagadarthi Mandal, Nellore Dist.<br>GSTIN/UIN: 37ABACS0487R1ZN<br>State Name : ,
                            Code
                            <br>CIN: U74999TG2018PTC123244<br>E-Mail : srgmf@pipes.sentinigroup.com<br>PAN :ABACS0487R
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </tr>
    </table>

    </td>
    </tr>
    </table>
    <br>

    <br>
    <table class="items" width="100%" style="border: 1px #eee solid;font-size: 10px; border-collapse: collapse;"
        cellpadding="8">
        <thead>
            <tr>
                <td width="2%" style="border: 1px #eee solid;text-align: left;"><strong>S.No.</strong></td>
                <td width="3%" style="border: 1px #eee solid;text-align: left;"><strong>Skucode</strong></td>
                <td width="47%" style="border: 1px #eee solid;text-align: left;"><strong>Item Description</strong></td>
                <td width="47%" style="border: 1px #eee solid;text-align: left;"><strong>Std Pkg</strong></td>
                <td width="6%" style="border: 1px #eee solid;text-align: left;"><strong>MRP<br>(in Rs.)</strong></td>
                <td width="15%" style="border: 1px #eee solid;text-align: left;"><strong>Net Rate<br>(in Rs.)</strong>
                </td>
                <td width="6%" style="border: 1px #eee solid;text-align: left;"><strong>UOM</strong></td>

                <td width="6%" style="border: 1px #eee solid;text-align: left;"><strong>Qty</strong></td>

                <td width="15%" style="border: 1px #eee solid;text-align: left;"><strong>Amount<br>(in Rs.)</strong>
                </td>
            </tr>
        </thead>
        <tbody>
            <!-- ITEMS HERE -->
            <tr>
                <% items.forEach(function(items, index){ %>
            <tr>
                <td style=" width:10%;border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= index+1 %>
                </td>
                <td style="width:20%;border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.sku_Code %>
                </td>
                <td style="width:30%;border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.sku_Description %>
                </td>
                <td style="width:30%;border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.std_Pkg %>
                </td>
                <td style="border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.retailPrice %>
                </td>
                <td style="border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.discountedPrice %>
                </td>
                <td style="border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <% if (items.productCategory=='Fittings' ) { %>
                        Boxes
                        <%} else if(items.productCategory=='Solvents' ) { %>
                            Boxes
                            <%} else { %>
                                Bundles
                                <% } %>
                </td>

                <td style="border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.quantity %>
                </td>

                <td style="border: 1px #eee solid;padding: 0px 7px; line-height: 12px;">
                    <%= items.discountedPrice * items.quantity %>
                </td>
            </tr>
            <% }) %>
                </tr>

        </tbody>
    </table>
    <br>
    <table width="100%" style="font-family: sans-serif; font-size: 8px;">
        <tr>
            <td>
                <table width="60%" align="left" style="font-family: sans-serif; font-size: 8px;">
                    <tr>
                        <td style="padding: 0px; line-height: 15px;">&nbsp;</td>
                    </tr>
                </table>
                <table width="40%" align="right" style="font-family: sans-serif; font-size: 8px;">
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 5px; line-height: 10px;"><strong>Total</strong>
                        </td>
                        <td style="border: 1px #eee solid; padding: 0px 5px; line-height: 10px;">
                            Rs.<%= summary.finalPriceWithoutTax %>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 5px; line-height: 10px;"><strong>Output
                                GST@18%</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 5px; line-height: 10px;">
                            Rs.<%= summary.totalTax %>
                        </td>
                    </tr>

                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 5px; line-height: 15px;"><strong>Grand
                                Total</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 5px; line-height: 15px;">
                            <strong> Rs.<%= summary.finalPriceAfterTax %></strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>

    <table class="items" width="100%" style="border: 1px #eee solid;font-size: 8px; border-collapse: collapse;"
        cellpadding="8">
        <thead>
            <tr>
                <td width="100%" style="border: 1px #eee solid;font-size:8px;;text-align: center;"><strong> Summary Of
                        Sales
                        Order</strong></td>
            </tr>
            <tr>
                <td width="10%" style="border: 1px #eee solid;text-align: left;"><strong>Item</strong></td>
                <td width="10%" style="border: 1px #eee solid;text-align: left;"><strong>Amount(in Rs.)</strong></td>
                <td width="10%" style="border: 1px #eee solid;text-align: left;"><strong>Contribution(in %)</strong>
                </td>
            </tr>
        </thead>

        <tbody>
            <% productSummary.forEach(element=> { %>
                <% for(let [key, value] of Object.entries(element)) { %>
                    <% for(let [category, categoryValue] of Object.entries(value)) { %>
                        <% if(category=='prices' ) { %>
                            <% for(let [priceName, priceValue] of Object.entries(categoryValue)) { %>
                                <tr>
                                    <td style="border: 1px #eee solid;padding: 0px 5px; line-height: 10px;">
                                        <%= priceName %>
                                    </td>
                                    <td style="border: 1px #eee solid;padding: 0px 5px; line-height: 10px;">
                                        <%= Object.values(priceValue)[0] %>
                                    </td>
                                    <td style="border: 1px #eee solid;padding: 0px 5px; line-height: 10px;">
                                        <%= Object.values(priceValue)[1] %>
                                    </td>
                                    <!-- <%= `${priceName}: ${Object.values(priceValue)[0]}  ${Object.values(priceValue)[1]}` %> -->
                                </tr>
                                <% } %>
                                    <% } %>
                                        <% } %>
                                            <% } %>
                                                <% }) %>
        </tbody>

    </table>
    <br>
    <table width="100%" style="font-family: 'Google Sans',Roboto, arial,sans-serif; font-size: 9px;">
        <br>
        <tr>
            <td>
                <table width="50%" align="center"
                    style="font-family: 'Google Sans',Roboto, arial,sans-serif; font-size: 9px; text-align: center;">
                    <tr>
                        <td style="padding: 0px; line-height: 10px;text-align: center;">
                            <strong>Sentini Flopipes India Pvt Ltd.<br>Registered Office Address:<br>Plot
                                No:1229,Sentini House Rd No:60<br>Jubilee Hills
                                -Hyderabad-33,Telangana-India</strong>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </td>
    </tr>
    <br>
    </table>

</body>

</html>